%header.row
  %h2.column.small-12 Edit #{resource_name.to_s.humanize} Settings

= simple_form_for(resource, as: resource_name,
  url: registration_path(resource_name), html: { method: :put }) do |f|
  .row
    .column.small-12
      = f.error_notification

    .settings-section.column.small-12.medium-6
      %h3.column.small-12 Personal Information
      .column.small-12
        = f.input :name

      .column.small-12
        = f.input :email, as: :email

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .column.small-12
        Currently awaiting confirmation for #{resource.unconfirmed_email}

    .settings-section.column.small-12.medium-6
      %h3.column.small-12 Contact Information
      .column.small-12.medium-6
        = f.input :room_number, label: 'Room Number',
          placeholder: 'Your room number'
      .column.small-12.medium-6
        = f.input :phone_number, as: :tel, label: 'Phone Number',
          placeholder: '(012)345-6789'
      .column.small-6
        = f.input :display_phone_number, as: :boolean, boolean_style: :inline
      .column.small-6
        = f.input :display_email, as: :boolean, boolean_style: :inline

    .column.small-12.spacer

    .settings-section.column.small-12.medium-6
      %h4.column.small-12 Change Password
      %small.column.small-12 Leave blank unless you wish to change your password
      .column.small-12.medium-6
        = f.input :password, label: 'New Password'
      .column.small-12.medium-6
        = f.input :password_confirmation, label: 'Confirm New Password'

    .column.small-12.spacer

    .settings-section.column.small-12.medium-6.left
      %h4.column.small-12 Submit
      .column.small-12
        = f.input :current_password,
          placeholder: 'Must enter current password to confirm changes'

      .column.small-12
        = f.button :submit, class: 'button small'

- if current_user.workshift_manager?
  .row
    %h2.column.small-12 Workshift Manager Options
    .column.small-12
      .column.small-12.alert-box.alert
        Warning: Dangerous options ahead!!
    .column.small-6
      = render 'devise/registrations/delete_all.html.haml'
