%header.row
  %h2.column.small-12 Sign Up

= simple_form_for(resource, as: resource_name,
  url: registration_path(resource_name)) do |f|
  .row
    .column.small-12
      = f.error_notification

    .column.small-12.medium-6
      = f.input :name, placeholder: 'Your Name'
    .column.small-12.medium-6
      = f.input :email, placeholder: 'E-mail Address'
    .column.small-12.medium-6
      = f.input :password, placeholder: 'Password (at least 6 characters long)'
    .column.small-12.medium-6
      = f.input :password_confirmation, placeholder: 'Confirm Password'
    .column.small-12
      = f.button :submit, class: 'button small'

.row#shared-links
  .column.small-12
    = render 'devise/shared/links'
