.row
  .column.small-12
    %h1 Workshift Sign-off
    .row
      .column.small-12
        .settings-section
          %fieldset
            %legend Select a workshifter:
            .column.small-5
              = form_tag load_user_path do
                %select{:name => 'workshifter_id'}
                  %option{value: -1}=""
                  - @users.each do |user|
                    - if @user and @user.name == user.name
                      %option{selected: true, value: user.id}= @user.name
                    - else
                      %option{value: user.id}= user.name
                = submit_tag 'Load workshift', class: 'button small'

- if @workshifts
  - if !@workshifts.empty?
    .row
      .column.small-12
        %h1 #{@user.name}'s workshift(s)
        .column.small-12
          = render 'users/workshift_assignments',
            workshift_assignments: @workshifts, disable_sell: true
  - else flash[:alert] = "No workshifts available for this user"
