%h1 Add Member Manually

= form_tag add_user_path do

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user,"last_name"

  = label :user, :email, 'Email'
  = text_field :user,"email"

  = label :user, :permissions, 'Permssions'
  = text_field :user,"permissions"

  = render "add_hidden_ids"


  = submit_tag 'Add User'