.row
  .column.small-12
    %table
      %thead
        %tr
          %th Day
          %th Start Time
          %th End Time
          %th Completed?
          %th
          %th
          %th
      %tbody
        - assigned_workshifts.each do |assigned_workshift|
          - workshift = assigned_workshift.workshift
          %tr
            %td= workshift.weekday
            %td= workshift.formatted_start_time
            %td= workshift.formatted_end_time
            %td= assigned_workshift.completed.to_s
            %td= link_to 'Show', workshift
            %td= link_to 'Edit', edit_workshift_path(workshift)
            %td
              = link_to 'Destroy', workshift, method: :delete,
                data: { confirm: 'Are you sure?' }
