.row
  .column.small-12
    %table
      %thead
        %tr
          %th Day
          %th Task
          %th Start Time
          %th End Time
          %th Status
          %th
          %th
          %th
          %th
      %tbody
        - workshift_assignments.each do |workshift_assignment|
          %tr{id: "assignment_#{workshift_assignment.id}"}
            %td= workshift_assignment.weekday
            %td= workshift_assignment.task
            %td= workshift_assignment.formatted_start_time
            %td= workshift_assignment.formatted_end_time
            %td= workshift_assignment.status
            %td= link_to 'Show', workshift_assignment.workshift
            - if policy(:workshift).edit?
              %td= link_to 'Edit', edit_workshift_path(workshift_assignment.workshift)
            %td
              / = simple_form_for(workshift_assignment) do |f|
              /   = f.input :verifier, collection: User.all, include_blank: true
              /   = f.button :submit, class: 'button-small'
              = form_tag assignment_check_off_path(workshift_assignment) do
                = label_tag :verifier, "Verifier"
                = collection_select :verifier, nil, User.all, :id, :name, include_blank: true
                = submit_tag "Check Off"
            %td
              = form_tag put_on_market_path(workshift_assignment) do
                = submit_tag "Sell"