.row
  .column.small-12
    %table
      %thead
        %tr
          %th Day
          %th Task
          %th Sign Off Time
          %th Status
          %th Verifier
          %th
          %th
      %tbody
        - workshift_assignments.each do |workshift_assignment|
          %tr
            %td= workshift_assignment.weekday
            %td= workshift_assignment.task
            %td= workshift_assignment.sign_off_time
            %td= workshift_assignment.status
            %td
              - if workshift_assignment.verifier
                = link_to workshift_assignment.verifier.name, user_profile_path(workshift_assignment.verifier)
              - else
              None
            %td= link_to 'Show', workshift_assignment.workshift
            - if policy(:workshift).edit?
              %td= link_to 'Edit', edit_workshift_path(workshift_assignment.workshift)