#verifier_list{data: {verifiers: @verifier_list.to_json}}
.row
  .column.small-12
    %table
      %thead
        %tr
          %th Day
          %th Task
          %th Hours
          %th Start Time
          %th End Time
          %th Status
          - if current_user == @user
            %th
            %th
      %tbody
        - workshift_assignments.each do |workshift_assignment|
          %tr{id: "assignment_#{workshift_assignment.id}"}
            %td= workshift_assignment.date.strftime('%A, %m/%e')
            %td= link_to(workshift_assignment.task, workshift_assignment.workshift)
            %td= workshift_assignment.hours
            %td= workshift_assignment.formatted_start_time
            %td= workshift_assignment.formatted_end_time
            %td= workshift_assignment.status
            - if current_user == @user
              %td
              = form_tag assignment_check_off_path(workshift_assignment) do
                = text_field_tag :verifier_name, nil
                = hidden_field_tag :verifier, nil
                = submit_tag "Check Off", class: 'button success small radius'
              %td
                = form_tag put_on_market_path(workshift_assignment) do
                  = submit_tag "Sell", class: 'button alert small radius', data: { confirm: 'Are you sure you want to sell your shift?' }
