.row
  .column.small-12
    - if @user.role != 'Resident'
      %h2== #{@user.name} (#{@user.role})
    - else
      %h2= @user.name
  .column.small-12.medium-8
    .row
      .column.small-12
        .column.small-12
          %table#user_info
            %thead
              %tr
                %td Total Points Balance
                %td Room Number
                %td Email
                %td Phone Number
            %tbody
              %tr
                %td{ class: "#{@user.hours_balance_class}" }= @user.hours_balance
                %td= @user.room_number.length > 0 ? @user.room_number : ''
                %td= @user.display_email? ? @user.email : ''
                %td= (@user.display_phone_number? && @user.phone_number.length > 0) ? @user.phone_number : ''
        .column.small-12
          - if policy(:user).update_required_hours?
            .settings-section
              %fieldset
                %legend Required Weekly Hours
                %p Current Required Hours: #{@user.required_hours}
                .column.small-5
                  = label_tag :required_hours, 'New Required Hours'
                  = form_tag update_required_hours_path(@user) do
                    = number_field_tag :required_hours, @user.required_hours,
                      step: 0.5
                    = submit_tag 'Change Required Hours', class: 'button small'
        .column.small-12
          - if policy(:user).update_quiet_hours?
            .settings-section
              %fieldset
                %legend Quiet hours
                %p
                  :markdown
                    The current quiet hours are effective between: <strong>#{@quiet_hours.get_quiet_hours_str}</strong>
                = form_tag update_quiet_hours_path(@user) do
                  %table
                    %thead
                      %tr
                        %td From
                        %td To
                    %tbody
                      %tr
                        %td= time_select 'start_quiet_hours', 'start_quiet_hours',
                              {ampm: true, minute_step: 5, ignore_date: true, time_separator: ''}
                        %td= time_select 'stop_quiet_hours', 'stop_quiet_hours',
                              {ampm: true, minute_step: 5, ignore_date: true, time_separator: ''}
                  = submit_tag 'Update Quiet Hours', class: 'button small'
  .column.small-12.medium-4
    %table#user_category_preferences
      %thead
        %tr
          %td{ colspan: 2 } Workshift Category Preferences
      %tbody
        - @preferences.each do |preference|
          %tr
            %td= preference.rank
            %td= link_to preference.category.name, preference.category


  %h3.column.small Current Workshift Assignments
  .column.small-12
    = render 'users/workshift_assignments',
      workshift_assignments: @workshift_assignments, disable_sell: false

  %h3.column.small Workshift Log
  .column.small-12
    = render 'users/workshift_assignments_history',
      workshift_assignments: @workshift_assignments_history

  %h3.column.small Schedule
  .column.small-12
    %table#user_schedule
      %thead
        %tr
          %th
          - User.available_days.each do |day|
            %th{ width: '150' }= day
      %tbody
        - User.available_hours.each do |slot|
          %tr
            %td= slot
            - @user.schedule.each do |day, _hours|
              - if @user.schedule[day][slot]
                %td{ bgcolor: '#2A7C58' }
                  <!-- %font{:color => "#FFFFFF"} Free -->
              - else
                %td{ bgcolor: '#8E3030' }
                  <!--%font{:color => "#FFFFFF"} Busy -->


