<!-- app/views/users/new.html.erb -->

<h1>Create Members</h1>
<!--Need to add CSV gem to add users
    Need to configure email and initial password
    Need to add page for users to edit acount settings (password)
    Need to make this page accessible by only admins -->
<h2>Add Member Manually</h2>
<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  Permissions: <%= f.text_field :permissions %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>

<h2>Import Users from CSV</h2>

<%= form_tag csv_upload_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br><br>
<h5>You added <%= @users_uploaded.size %> new Users. Confirm below </h5>
<br>

  <table id="Users_uploaded">
    <tr>
      <th>Name &nbsp; &nbsp; &nbsp;</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  
    <% @users_uploaded.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name%></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
    </tr>
    <% end %>
  
  </table>

<%= form_tag confirm_users_path  do %>
  <% @users_uploaded.each do |user| %>
    <%= hidden_field_tag "confirmed_ids[]", user.id, :multiple => true %>
  <% end %>
  <%= submit_tag "Confirm Users" %>
<% end %>

<br>

