= simple_form_for(@workshift) do |f|
  .row
    .column.small-12
      = f.error_notification

    .column.small-12.medium-6
      = f.input :start_time, ampm: true, minute_step: 15,
        input_html: { class: 'column small-4 medium-3 left' }
    .column.small-12.medium-6
      = f.input :end_time, ampm: true, minute_step: 15,
        input_html: { class: 'column small-4 medium-3 left' }

    .column.small-12
      = f.button :submit, class: 'button-small'
