= simple_form_for(@workshift) do |f|
  .row
    .column.small-12
      = f.error_notification

    .column.small-10.large-8
      = f.input :task, placeholder: 'Purpose of workshift'
    / .column.small-5.medium-4.large-2
    /   = f.input :user, collection: User.all, label_method: :name, value_method: :id, include_blank: true, selected: @workshift.user_id
    .column.small-5.medium-4.large-2
      = f.input :hours, default:1.0, step:0.5
    .column.small-12.medium-4.large-3
      = f.input :start_time, ampm: true, minute_step: 15,
        input_html: { class: 'column small-4 medium-5 left' }
    .column.small-12.medium-4.large-3
      = f.input :end_time, ampm: true, minute_step: 15,
        input_html: { class: 'column small-4 medium-5 left' }
    .column.small-5.medium-4.large-4
      = f.input :category_id, collection: Category.order(:name)
    .column.small-12
      = f.input :description, placeholder: 'Description of task'
    .column.small-12
      - if %w(new create).include? controller.action_name
        = f.input :day, collection: Workshift.valid_days, as: :check_boxes

    .column.small-12
      = f.button :submit, class: 'button-small'
