.row
  .column.small-12
    %h1= @workshift.task
  .column.small-12
    %table#workshift_info
      %tbody
        %tr
          %td Category:
          %td= link_to @workshift.category_name, @workshift.category
          %td Hours:
          %td= @workshift.hours
        %tr
          %td Assigned Workshifter:
          %td= (@workshift.user) ? link_to(@workshift.user.name, user_profile_path(@workshift.user)) : "None"
          %td Day:
          %td= @workshift.weekday
        %tr
          %td Shift Start:
          %td= @workshift.formatted_start_time
          %td Shift End:
          %td= @workshift.formatted_end_time
        %tr
          %td Description:
          %td= @workshift.description
