.row
  .column.small-12
    %h1 Workshift Listing

.row
  .column.small-12
    %table#workshifts.data-table.hover
      %thead
        %tr
          %th Task
          %th Category
          %th Hours
          %th Day
          %th Start Time
          %th End Time
          %th Assigned Workshifter

      %tbody
        - @workshifts.each do |workshift|
          %tr
            %td= link_to workshift.task, workshift
            %td= link_to workshift.category_name, workshift.category
            %td= workshift.hours
            %td= workshift.weekday
            %td= workshift.formatted_start_time
            %td= workshift.formatted_end_time
            %td= (workshift.user) ? link_to(workshift.user.name, user_profile_path(workshift.user)) : "Not Assigned"

%br
- if policy(:workshift).new?
  .row
    .column.small-12
      = link_to 'New Workshift', new_workshift_path, class: 'button'
