.row
  .column.small-12
    %h1 Workshift Listing

.row
  .column.small-12
    %table#workshifts
      %thead
        %tr
          %th Task
          %th Hours
          %th People
          %th Day
          %th Start Time
          %th End Time
          - if policy(:workshift_edit).edit?
            %th
          - if policy(:workshift_edit).destroy?
            %th

      %tbody
        - @workshifts.each do |workshift|
          %tr
            %td= link_to workshift.task, workshift
            %td= workshift.hours
            %td= workshift.assigned_so_far
            %td= workshift.weekday
            %td= workshift.formatted_start_time
            %td= workshift.formatted_end_time
            - if policy(:workshift_edit).edit?
              %td= link_to 'Edit', edit_workshift_path(workshift)
            - if policy(:workshift_edit).destroy?
              %td= link_to 'Destroy', workshift, method: :delete,
                data: { confirm: 'Are you sure?' }

%br
- if policy(:workshift_edit).new?
  .row
    .column.small-12
      = link_to 'New Workshift', new_workshift_path
