%header.row
  %h2.column.small-12 Sign in

= simple_form_for(resource, as: resource_name,
  url: session_path(resource_name)) do |f|
  .row
    .column.small-12.medium-6
      = f.input :email, placeholder: 'Email Address', autofocus: true
    .column.small-12.medium-6
      = f.input :password, placeholder: 'Password'
    .column.small-12.medium-6
      = f.button :submit, 'Sign In', class: 'button small'
    - if devise_mapping.rememberable?
      .column.small-12.medium-6
        = f.input :remember_me, label: 'Stay logged in?', as: :boolean
    .column.small-12.medium-6
      = render 'devise/shared/links'
