.row
  .column.small-12
    %h1 Workshift Marketplace
    :markdown
      Residents can buy and sell shifts here. Sell shifts that you are unable to
      complete and you will only lose 1x the amount of hours the shift is worth,
      versus losing 2x the amount of hours if you blow the shift. You will not be
      penalized if no one buys the shift **as long as** you sell the shift **at least
      #{@workshift_limit.time_limit} hours before** it is begins. Buying shifts and completing them will increase your
      hours balance by 1x the amount of hours the shift is worth. **IMPORTANT:** Once
      you buy a shift it becomes **YOUR** responsibility.

.row
  .column.small-12
    - if policy(:user).update_workshift_selling_limit?
      .settings-section
        %fieldset
          %legend Workshift selling limit
          %p Current workshift selling limit: #{@workshift_limit.time_limit} hours.
          .column.small-5
            = label_tag :selling_limit, 'New workshift selling limit'
            = form_tag update_workshift_selling_limit_path(@user) do
              = number_field_tag :workshift_selling_limit, @workshift_limit.time_limit,
                        step: 1
              = submit_tag 'Change Workshift Selling Limit', class: 'button small'
.row
  .column.small-12
    %h3 Shifts you're selling
    %table#workshifts_put_on_sale
      %thead
        %tr
          %th Task
          %th Hours
          %th Day
          %th Date
          %th Start Time
          %th End Time
          %th

      %tbody
        - @users_shifts.each do |assignment|
          %tr
            %td= link_to assignment.task, assignment.workshift
            %td= assignment.hours
            %td= assignment.weekday
            %td= assignment.date
            %td= assignment.formatted_start_time
            %td= assignment.formatted_end_time
            %td
              = link_to 'Undo Sell', assignment_undo_sell_path(assignment),
                class: 'button small radius', method: :post,
                data: { confirm: 'Are you sure you want to undo the sale of your shift?' }

.row
  .column.small-12
    %h3 Buyable Shifts
    %table#buyable_workshifts
      %thead
        %tr
          %th Task
          %th Hours
          %th Day
          %th Date
          %th Start Time
          %th End Time
          %th

      %tbody
        - @buyable_shifts.each do |assignment|
          %tr
            %td= link_to assignment.task, assignment.workshift
            %td= assignment.hours
            %td= assignment.weekday
            %td= assignment.date
            %td= assignment.formatted_start_time
            %td= assignment.formatted_end_time
            %td
              = link_to 'Buy Shift',
                assignment_sell_to_path(assignment, current_user),
                class: 'button radius small', method: 'post',
                data: { confirm: 'Are you sure you want to buy this shift?' }
