<!-- app/views/layout/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Coop Workshift</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
 
  
  <%= csrf_meta_tags %>
</head>
<!--<body style="background-color:#BBBBBB">-->
<body>
  
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WORKSHIFTR.</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/shifts"> Shifts </a></li>
            <% if current_user %>
              <li> <%= link_to 'Policies', policy_path %> </li>
              <li><%= link_to "Profile", user_profile_path(current_user.id) %></li>
              <li><%= link_to "Sign Out", '/logout' %></li>
            <% else %>
            <li><%= render "sessions/login_form" %></li>
            <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  


<div class="container mtb">
<% flash.each do |key, value| %>
  <div class="alert alert-<%=key%>" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> <%= value %> </strong>
  </div>
<% end %>

<%= yield %>
</div><!-- /headerwrap -->  
  
<%= javascript_include_tag 'bundle' %>
</body>
</html>