!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? yield(:title) : 'BSC Workshift Scheduler'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
    = csrf_meta_tag

  %body

    = render 'layouts/navbar'

    = javascript_include_tag 'application'
