!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    - if user_signed_in?
      %title= (current_user.unit.nil? ?  'Temporary' : current_user.unit.name) + ' Work Scheduler' + ' Workshift Scheduler'
    - else
      %title= content_for?(:title) ? yield(:title) : 'Workshift Scheduler'


    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
    = csrf_meta_tag

    = render 'layouts/favicons'

    %meta{ name: 'mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %body

    = render 'layouts/navbar'

    = javascript_include_tag 'application'
