

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="first_day">Semester start</label>
    </div>
    <div class="col-sm-10">
        <div class='input-group date datetimepicker' id='datetimepicker_start' style="max-width:350px;">
            <input id="first_day" value=<%=@policy.first_day or @defaultDate%> type='text' name="policy[first_day]" class="form-control" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="last_day">Semester end</label>
    </div>
    <div class="col-sm-10">
        <div class='input-group date datetimepicker' id='datetimepicker_end' style="max-width:350px;">
            <input id="last_day" value=<%=@policy.last_day or @defaultDate %> type='text' name="policy[last_day]" class="form-control" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="fine_days">Fining Days</label>
    </div>
    <div class="col-sm-10">
        
        <div class='input-group date datetimepicker' id='datetimepicker_fine1' style="max-width:350px;">
            <input id="fine_days" type='text' name="policy[fine_days]" class="form-control" value=<%=@policy.fine_days or @defaultDate %>   />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="fine_amount">Fine rate</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="fine_amount" value=<%=@policy.fine_amount or @defaultFine%> type="text" name="policy[fine_amount]" style="max-width:350px;"class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="market_sell_by">Selling Date Limit</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
          <input id="market_sell_by" value=<%=@policy.market_sell_by or @defaultLimit%> type="text" name="policy[market_sell_by]" style="max-width:350px;"class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        date_format = "MMMM Do, YYYY"
        x = $('#fine_days').val()

        $('#datetimepicker_start').datetimepicker({
            format: date_format,
            defaultDate: moment($('#first_day').attr("value")),
        });
        $('#datetimepicker_end').datetimepicker({
            format: date_format,
            defaultDate: $('#last_day').attr("value")
        });
        $('#datetimepicker_fine1').datetimepicker({
            format: date_format,
            defaultDate: $('#fine_days').attr("value")
        });
        $('#first_day').val(moment($('#first_day').attr("value")).format(date_format))
        $('#last_day').val(moment($('#last_day').attr("value")).format(date_format))
        $('#fine_days').val(moment($('#fine_days').attr("value")).format(date_format))
    });
</script>
