

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="first_day">Semester start</label>
    </div>
    <div class="col-sm-10">
        <div class='input-group date datetimepicker' id='datetimepicker_start' style="max-width:350px;">
            <input id="first_day" value="<%=@policy.get_first_day %>" type='text' name="policy[first_day]" class="form-control" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="last_day">Semester end</label>
    </div>
    <div class="col-sm-10">
        <div class='input-group date datetimepicker' id='datetimepicker_end' style="max-width:350px;">
            <input id="last_day" value="<%=@policy.get_last_day %>" type='text' name="policy[last_day]" class="form-control" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="fine_days">Fining Days</label>
    </div>
    <div class="col-sm-10">
        
        <div class='input-group date datetimepicker' id='datetimepicker_fine1' style="max-width:350px;">
            <input id="fine_days" type='text' name="policy[fine_days]" class="form-control" value="<%=@policy.get_fine_days %>"   />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="fine_amount">Fine rate</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="fine_amount" value="<%=@policy.fine_amount%>" type="text" name="policy[fine_amount]" style="max-width:350px;"class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <label for="market_sell_by">Selling Date Limit</label>
    </div>
    <div class="col-sm-10">
        <div class="input-group">
          <input id="market_sell_by" value="<%=@policy.market_sell_by%>" type="text" name="policy[market_sell_by]" style="max-width:350px;"class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        date_format = "MMMM d, YYYY"
        
        // var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
        // $.fn.bootstrapDP = datepicker;                 // give $().bootstrapDP the bootstrap-datepicker functionality
        first = $('#first_day').datepicker({
            orientation: "left bottom auto",
            startDate: "today",
            clearBtn: true,
            format: "M d, yyyy"
        });
        last = $('#last_day').datepicker({
            orientation: "left bottom auto",
            startDate: "today",
            clearBtn: true,
            format: "M d, yyyy"
        });
        fine = $('#fine_days').datepicker({
            orientation: "left bottom auto",
            startDate: "today",
            clearBtn: true,
            multidate: true,
            multidateSeparator: "; ",
            format: "M d, yyyy"
        });
        // console.log(first)
        // first_day_str = Date.parse($('#first_day').attr("value"))
        // console.log(first_day_str);
        // $('#first_day').val(first_day_str);
        // $('#last_day').val(moment($('#last_day').attr("value")).format(date_format));
        // fine_days = $('#fine_days').attr("value");
        // console.log(fine_days);
        // str = "";
        // for(day in fine_days){
        //     str += moment(day).format(date_format) + "; ";
        // }
        // $('#fine_days').val(str);
    });
</script>
