%h1 Set Policies

= form_tag policy_path do 

    = label :policy, :first_day, 'Semester Start Date'
    = date_select :policy, :first_day
    
    = label :policy, :last_day, 'Semester End Date'
    = date_select :policy, :last_day
    
    = label :policy, :fine_days, 'Fining Days'
    = date_select :policy, :fine_days
    
    = label :policy, :fine_amount, 'Fining Rate'
    = text_field :policy, :fine_amount
    
    = label :policy, :market_sell_by, 'Selling Date Limit'
    = text_field :policy, :market_sell_by
    
    = submit_tag 'Save'

= link_to 'Back', policy_path
