<div class="spacing"></div>
 <h4>Your Policies</h4>
 <div class="hline"></div>
 <p><b>Semester Start Date:</b> <%= @policy.first_day.strftime("%B %d, %Y") %> </p>
 <p><b>Semester End Date:</b> <%= @policy.last_day.strftime("%B %d, %Y") %> </p>
 <p><b>Fining Days:</b> <%= @policy.fine_days.strftime("%B %d, %Y") %> </p>
 <p><b>Fining Rate:</b> <%= @policy.fine_amount %> </p>
 <p><b>Selling Date Limit:</b> <%= @policy.market_sell_by %> </p>



<%### ADMIN ONLY ###%>
<% if @current_user.is_ws_manager? %>
    <%= link_to 'Edit', edit_policy_path %>
<% end %>