%p#notice= notice

%h2 Your Policies

%%ul
    %li
        Semester Start Date:
        = @policy.first_day
    %li
        Semester End Date:
        = @policy.last_day
    %li
        Fining Days:
        = @policy.fine_days
    %li
        Fining Rate:  
        = @policy.fine_amount
    %li
        Selling Date Limit:
        = @policy.market_sell_by


= link_to 'Edit', edit_policy_path